div .profile {
    width: 60%;
    padding: 0;
    margin-top: 8px;
    background-color: aliceblue;
    position: relative;
    top: 55px;
    margin-bottom: 100px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

div .profile ul {
    list-style-type: none;
    display: inline-block;
}

div .profile ul #profile-img {
    width: fit-content;
    float: left;
}

div .profile ul #profile-img img {
    height: 90px;
    width: 90px;
    border-radius: 70%;
    padding: 0;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

div .profile ul #profile-img h5 {
    font-size: 22px;
    margin-top: 5px;
    text-align: center;
}

div .profile ul #profile-img ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    width: 100%;
}

div .profile ul #profile-img ul li {
    margin-left: 5px;
}

div .profile ul #profile-img ul #notifications {
    float: left;
    width: fit-content;
}

div .profile ul #profile-img ul #notifications h6 {
    margin: 0;
    font-size: 15px;
    color: #1bd31b;
}

div .profile ul #profile-img ul #alert {
    float: left;    
    width: fit-content;
}

div .profile ul #profile-img ul #alert h6 {
    margin: 0;
    font-size: 15px;
    color: #f82727;
}

div .profile ul #profile-img ul #messages {
    float: right;
    width: 32.3%;
}

div .profile ul #profile-img ul #messages h6 {
    margin: 0;
    font-size: 15px;
    color: #0077ccd8;
}

div .profile ul #profile-info {
    float: right;
    width: 60%;
}

div .profile ul #profile-info h5 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

div .profile ul #profile-info div {
    width:  fit-content;
}

div .profile .tab {
    border-bottom: 0.5px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
    margin-top: 8px;
    background-color: aliceblue;
    height: 50px;
    width: 60%;
    border-bottom-width: 20%;

}

div .profile .tab .tab-btn {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: inherit;
}

div .profile .tab .tab-btn:hover, .tab .button .active {
    background-color: #dfedf8 !important;
}

div .profile .tabitem {
    display: none;
}

div .profile .tabitem ul h4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 20px;
}

div .profile .tabitem ul {
    width: 60%;
}

div .profile .tabitem ul li {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}
