<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/admin.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/meetup.css" />
</head>

<body>

    <!--The navigation bar-->
    <nav>
        <ul>
            <li id="logo"><a href="index.html"><img src="../images/logo.svg" alt="logo"></a></li>
            <li id="profile_logo"><a href="profile.html"><img src="https://img.icons8.com/metro/26/000000/contacts.png"></a></li>
            <li id='admin'><a class="admin-button" onclick="enableadmin()" role="button">Admin</a></li>
        </ul>
    </nav>

    <div>
        <div class="meetup">
            <div class="meetup-list">
                <ul>
                    <li id="create">
                        <h5>Create Meetup</h5>
                        <div id="create-form">
                            <form>
                                <label for='title'>Title</label>
                                <input id="title" type="text" placeholder="Title" />
                                <label for='description'>Description</label>
                                <textarea id="description" placeholder="Enter event description"></textarea>
                                <ul>
                                    <li class="date">
                                            <label for="date">Date</label>
                                            <input type="date" id="date" />
                                    </li>

                                    <li class="time">
                                        <label for="time">Time</label>
                                        <input id="time" type="time" />
                                    </li>
                                </ul>
                                <label for="location">Location</label>
                                <input type="text" placeholder="Location" />
                                <label for='slots'>Available slots</label>
                                <input type="number" aria-valuemin="0" value="0" />
                                <input type="submit" value="Create" />
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="meetup-inline">

                            <div id="time">
                                <h4>Friday 6:00 PM</h4>
                            </div>
                            <div id="meetup-body">
                                <div>
                                    <a href="#" id="tag">
                                        <h5>#Tech</h5>
                                    </a>
                                    <span id="scheduled"><img src="https://img.icons8.com/ios/50/000000/alarm.png" alt="scheduled" /></span>
                                    <div>
                                        <a href="meetup.html" id="title">
                                            <h3>Cloud and Kubernetes Next Phase</h3>
                                        </a>
                                        <p>IBM Research Center</p>
                                        <a href="#" id='meetup-question'><span>Questions asked 2</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="meetup-inline">

                            <div id="time">
                                <h4>Saturday 10:00 AM</h4>
                            </div>
                            <div id="meetup-body">
                                <div>
                                    <a href="#" id="tag">
                                        <h5>#Politics</h5>
                                    </a>
                                    <span id="scheduled"><img src="https://img.icons8.com/ios/50/000000/alarm.png" alt="scheduled" /></span>
                                    <div>
                                        <a href="#" id="title">
                                            <h3>Meet and discuss about the U.S elections it's impact in the World.</h3>
                                        </a>
                                        <p>US Embassy</p>
                                        <a href="#" id='meetup-question'><span>Questions asked 0</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="meetup-inline">

                            <div id="time">
                                <h4>Saturday 2:00 PM</h4>
                            </div>
                            <div id="meetup-body">
                                <div>
                                    <a href="#" id="tag">
                                        <h5>#Motivation</h5>
                                    </a>
                                    <span id="scheduled">
                                        <!--<img src="https://img.icons8.com/ios/50/000000/alarm.png" alt="scheduled" />--></span>
                                    <div>
                                        <a href="#" id="title">
                                            <h3>RE-IMAGINE 2019: How to 7x Your Clarity, Focus & Confidence! </h3>
                                        </a>
                                        <p>Senteru plaza</p>
                                        <a href="#" id='meetup-question'><span>Questions asked 17</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="meetup-inline">

                            <div id="time">
                                <h4>Friday 3:00 PM</h4>
                            </div>
                            <div id="meetup-body">
                                <div>
                                    <a href="#" id="tag">
                                        <h5>#Tech</h5>
                                    </a>
                                    <span id="scheduled">
                                        <!--<img src="https://img.icons8.com/ios/50/000000/alarm.png" alt="scheduled" />--></span>
                                    <div>
                                        <a href="#" id="title">
                                            <h3>TED x 254 Mashinani Kenya, Kufanya,Kuungana Kusaidia Kenya!</h3>
                                        </a>
                                        <p>Pawa 254</p>
                                        <a href="#" id='meetup-question'><span>Questions asked 6</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="info">
                <div class="meetup-types">
                    <ul>
                        <li class="active"><span>All Meetups</span></li>
                        <li><span>My Meetups</span></li>
                        <li><span>Attending</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h5>&copy;opyright 2019</h5>
    </footer>

    <script type="text/javascript" src="../scripts/main.js"></script>
</body>

</html>