<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/question.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/meetup-detail.css" />
</head>

<body>

    <!--The navigation bar-->
    <nav>
        <ul>
            <li id="logo"><a href="index.html"><img src="../images/logo.svg" alt="logo"></a></li>
            <li id="profile_logo"><a href="profile.html"><img src="https://img.icons8.com/metro/26/000000/contacts.png"></a></li>
            <li id='admin'><a href="index.html" class="admin-button">Admin</a></li>
        </ul>
    </nav>


    <div>
        <div class="meetup">
            <div class="meetup-summary">
                <img src="../images/meetups/techmeetup.jpg" />

                <h4>Details</h4>
                <div class="details">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the
                    industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                    has
                    survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                <div class="attendees">
                    <h5>Attendees</h5>
                    <div class="profile-1">
                        <img src="https://img.icons8.com/ios/50/000000/user.png" alt="profile" />
                        <span>Alex</span>
                    </div>
                </div>

                <div class="questions">
                    <h3>Questions asked</h3>
                    <ul>
                        <li>
                            <h5>Where will the venue be?</h5>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been
                                the
                                industry's standard dummy text ever since the 1500s,</div>
                            <div class="links">
                                <ul id="links-list">
                                    <li id="up"><a onclick="voteupcount()" role="button">Up</a></li>
                                    <li id="upcount-li"><span id="upcount"></span></li>
                                    <li id="down"><a onclick="votedowncount()" role="button">Down</a></li>
                                    <li id="downcount-li"><span id="downcount"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h5>How much does a tickect cost?</h5>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been
                                the
                                industry's standard dummy text ever since the 1500s,survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                            <div class="links">
                                <ul id="links-list">
                                    <li id="up"><a onclick="voteupcount()" role="button">Up</a></li>
                                    <li id="upcount-li"><span id="upcount"></span></li>
                                    <li id="down"><a onclick="votedowncount()" role="button">Down</a></li>
                                    <li id="downcount-li"><span id="downcount"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <h5>Will there be food?</h5>
                            <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been
                                the
                                industry's standard dummy text ever since the 1500s,</div>
                            <div class="links">
                                <ul id="links-list">
                                    <li id="up"><a onclick="voteupcount()" role="button">Up</a></li>
                                    <li id="upcount-li"><span id="upcount"></span></li>
                                    <li id="down"><a onclick="votedowncount()" role="button">Down</a></li>
                                    <li id="downcount-li"><span id="downcount"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li class="ask-question">
                            <h5>ask question</h5>
                            <div>
                                <form>
                                    <label for='title'>Title</label>
                                    <input type="text" id="title" placeholder="Title"/>
                                    <label for='body'>Body</label>
                                    <textarea id="body" placeholder="Enter question detail"></textarea>
                                    <input type="submit" value="submit"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="meetup-detail">
                <div>
                    <img src="https://img.icons8.com/ios/50/000000/clock.png" />
                    <p>Friday 6:00 PM</p>
                </div>
                <div>
                    <img src="https://img.icons8.com/ios/50/000000/region-code.png" />
                    <p>IBM Research Center, Nairobi</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <h5>&copy;opyright 2019</h5>
    </footer>

    <script type="text/javascript" src="../scripts/main.js"></script>
</body>

</html>