.questions .ask-question{
    margin-top: 40px !important;
    height: 350px !important;
    border: 1px solid aliceblue !important;
    border-radius: 5px;
    background-color: aliceblue;
}

.questions .ask-question h5 {
    padding-left: 18px !important;
}

.questions .ask-question div {
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    height: fit-content;
}

.questions .ask-question div form {
    height: max-content;
    background-color: aliceblue;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea {
    height: 120px;
}

.questions .ask-question div input[type=submit] {
    width: 30%;
    background-color: #0077ccd8;
    color: white;
    padding: 14px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    height: fit-content;
  }
